<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<p align="center"><button><a href="/drivers" >BARCELONA</a></button></br>
<img height="200" width="400" src="Images/images.jpg">
</p>
<p align="center"><button><a href="/drivers" >BADALONA</a></button></br>
<img height="200" width="400" src="Images/badalona.jpg">
</p>
<p align="center"><button><a href="/drivers" >TARRAGONA</a></button></br>
<img height="200" width="400"  src="Images/tarragonaromana31.jpg">
</p>
</body>
</html>